<div class="modal-header">
  <h4 class="modal-title">Buscar Músicas no YouTube</h4>
</div>
<div class="modal-body">
  <div class="input-group">
    <input type="text" class="form-control" ng-model="q">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="search()">
        Pesquisar
      </button>
    </span>
  </div>

  <br/>
  <div class="panel panel-default" ng-show="selected != ''">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">{{selected.snippet.title}}</h3>
      <button type="button" class="btn btn-default pull-right" ng-click="confirmSelection()">
        <i class="fa fa-check"></i>
        Selecionar
      </button>
    </div>
    <div class="panel-body">
      <youtube-video video-id="selected.id.videoId"></youtube-video>
    </div>
  </div>

  <div class="list-group">
    <a ng-click="selectVideo($index)" class="list-group-item" ng-class="getClass($index)" ng-repeat="result in results">
      <div class="row">
        <div class="col-md-2">
          <img src="{{result.snippet.thumbnails.high.url}}" alt="{{result.snippet.title}}" style="width: 60px; height: 60px">
        </div>
        <div class="col-md-10">
          <h4 class="list-group-item-heading">{{result.snippet.title}}</h4>
          <p class="list-group-item-text">{{result.snippet.description}}</p>
        </div>
      </div>
    </a>
  </div>
</div>
