<div class="page-header">
  <a ng-href="#/add/escala" class="btn btn-primary pull-right">Adicionar</a>
  <h1>Escala Louvor</h1>
</div>

<div class="row marketing">
  <div class="bootcards-list">
    <div class="panel panel-default">
      <div class="panel-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Pesquisar Escalas" ng-model="searchEsc">
            <i class="fa fa-search"></i>
          </div>
        </form>
      </div>
      <div class="list-group">
        <a class="list-group-item" ng-href="#/escala/{{escala.id}}" ng-repeat="escala in main.escalas | filter:searchEsc">
          <span class="glyphicon glyphicon-calendar pull-left" style="width: 40px; height: 40px; font-size: 24px; margin-top: 5px"></span>
          <h4 class="list-group-item-heading">{{escala.data_escala | date:'EEEE, dd-MMM'}}</h4>
          <p class="list-group-item-text">Ministro: {{escala.ministro}}</p>
        </a>
      </div>
    </div>
  </div>
</div>
